<li>
    {{burger_name}}

    <button class="change-devoured" data-id="{{id}}" data-status="{{devoured}}">
        {{#if devoured}}Devour It! {{else}} Order Another! {{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>